* {
    margin: 0;
    padding: 0;
    color: white;
}

.wrapper {
    
    width: 100%;
    background-color: hsl(218, 28%, 13%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
    
}

/* HEADER STYLING */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    width: 100%;
    gap: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.menu li {
    list-style: none;
}

.menu a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* HERO STYLING */

#logo{
    height: 3vh;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: 'Raleway', sans-serif;
}

.desc h1 {
    width: 90%;
}

.desc p {
    width: 90%;
}

#heroImage {
    width: 100%;
}

.desc {
    text-align: center;
}

#button {
    width: 80%;
    border-radius: 30px;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    background-color: hsl(198, 60%, 50%);
    font-weight: 700;
}

/* BENEFITS STYLING */

.benefits {
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    font-family: 'Raleway', sans-serif;
}

.group1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.group2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.square1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    grid-area: square1;
}

.square2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    grid-area: square2;
}

.square3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    grid-area: square3;
}

.square4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    grid-area: square4;
    
    
}

/* PRODUCTIVE STYLING */

.productive {
    display: flex;
    flex-direction: column;
    margin: 90px 0px;
    
}

.productive-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productive-info h2{
    font-family: 'Raleway', sans-serif;
}

.productive-info p {
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
    font-size: 15px;
    
}

#line {
    width: 45%;
    height: 2px;
    background-color: hsl(176, 68%, 64%);
}

#hero2{
    width: 100%;
}

.link a {
    text-decoration: none;
    color: hsl(176, 68%, 64%);
    cursor: pointer;
    font-family: 'Raleway', sans-serif;

}

.more-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* TESTIMONIALS STYLING */

.testimonials {
    margin: 60px 0px;
}

.card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    
    gap: 15px;
    font-family: 'Raleway', sans-serif;
    background-color: hsl(219, 30%, 18%);
    margin: 30px 0px;
    border-radius: 5px;
}

.card p {
    font-size: 12px;
    line-height: 20px;
}

.person {
    display: flex;
    gap: 15px;
    
}

.person img {
    width: 15%;
    border-radius: 30px;
}

.name p {
    font-size: 14px;
}

/* SIGN UP STYLING */

.signup {
    background-color: hsl(219, 30%, 18%);
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    position:relative;
    top: 150px;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup p {
    font-size: 14px;
    line-height: 20px;
}

.signup input {
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: black;
}

.signup input::placeholder {
    padding: 10px;
    color: lightgrey;
    font-family: 'Raleway', sans-serif;
    
}

#button2 {
    padding: 15px;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: hsl(198, 60%, 50%);
}

/* CONTAINER 2 */

.container2 {
    width: 100%;
    
}

/* CONTACT STYLING */

.contact {
    padding: 200px 30px;
    background-color: hsl(216, 53%, 9%);
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

#logo2 {
    width: 50%;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0px;
    
}

.footer div img {
    height: 2vh;
}

.location {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    
}

.location p {
    line-height: 25px;
}

.lists {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}



.phone {
    display: flex;
    gap: 15px;
}


.email-info {
    display: flex;
    gap: 15px;
    
}

.resources {
    display: flex;
    flex-direction: column;
    
}

.resources ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.resources ul li a {
    text-decoration: none;
    
    
}

.help {
    display: flex;
    flex-direction: column;
}

.help ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.help ul li a {
    text-decoration: none;
}

/* CREDITS */

.credits {
    text-align: center;
}

.creditsText a {
    color: hsl(198, 60%, 50%);
}

/* HOVER EFFECTS */

.more-info:hover {
    cursor: pointer;
    color: hsl(198, 60%, 50%);
}

.menu a:hover {
    text-decoration: underline;
}

#button:hover {
    background-color: hsl(176, 68%, 64%);
}

#button2:hover {
    background-color: hsl(176, 68%, 64%);
}

.resources ul li a:hover {
    text-decoration: underline;
}

.help ul li a:hover {
    text-decoration: underline;
}

/* ATTRIBUTION */

.completed a {
    color: hsl(176, 68%, 64%);
}



/* MEDIA QUERY FOR DESKTOP */

@media only screen and (min-width: 1000px) {
    .container {
        width: 50%;
    }

    #logo2 {
        width: 10%;
    }

    /* HEADER */

    .header {
        justify-content: space-between;
    }

    .hero {
        width: 50%;
    }

    .menu {
        gap: 30px;
        font-size: 14px;
    }

    /* HERO */

    .desc  {
        gap: 15px;
    }

    .desc h1 {
        width: 65%;
    }

    .desc p {
        width: 75%;
    }

    #button {
        width: 50%;
    }

    /* BENEFITS */

    .group1 {
        flex-direction: row;
    }
    .group2 {
        flex-direction: row;
    }


    /* PRODUCTIVE */
    
    .productive {
        display: flex;
        flex-direction: row;
        justify-content: center ;
        gap: 90px;
        
    }

    .productive-info {
        align-self: center;
    }

    .productive-info h2 {
        width: 20vw;
        
    }

    .productive-info p {
        width: 40vw;
    }

    #hero2 {
        width: 70%;
        
        
    }

    /* TESTIMONIALS */

    .testimonials {
        display: flex;
        gap: 30px;
    }

    .card {
        height: 17vh;
        width: 25vw;
        justify-content: center;
        gap: 30px;
        
    }

    /* INPUT SECTION */
    .input-section {
        display: flex;
        flex-direction: row;

    }

    .input-section input {
        width: 60%;
    }

    .input-section button {
        width: 40%;
    }

    /* FOOTER */

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .location {
        width: 30%;
    }

    .lists {
        flex-direction: row;
        margin: 0px;
    }
}